<!-- <app-component [studentList]="printStudents()"></app-component>
  <ul *ngIf="printProceed">
    <li *ngFor="let data of dataCollection">
      {{ data.studNo }} {{ data.studFname }} {{ data.studLname }} {{ data.studProg }} {{ data.studYr }}
    </li>
  </ul>
  <entry [student]="getStudent()"></entry>
  <addStudent [studentCollection]="getStudColl()"></addStudent> -->

  <entry (student)="getStudent($event)" (printing)="setPrinting($event)"></entry>
<printStudent [studentCollection]="studentCollection" [printing]="printing"> </printStudent>